Python is an **interpreted** language

And the data type is inferred **dinamically**

In [11]:
#Variable declaration called name and with value "James"
name = "James"
type(name)

str

In [12]:
id(name)

140372625749424

In [26]:
surname = "Bond"
id(surname)

140372625393200

If two variables have the same id, both are pointing to the same memory address

In [4]:
#python notation (snake)
first_name = name

In [13]:
#id(name) returns 140372625749424
id(first_name)

140372625749424

In [7]:
print(first_name)

James

In [16]:
name = 10

In [17]:
id(name)

94076788700192

In [18]:
type(name)

int

In [20]:
name = True

In [21]:
type(name)

bool

In [22]:
name = 6.9
type(name)

float

In [24]:
name = "James"

In [28]:
full_name = "{name} {surname}"

In [29]:
print(full_name)

{name} {surname}

In [30]:
full_name = f"{name} {surname}"

In [31]:
print(full_name)

James Bond

In [32]:
salutation = f"Hello, my name is {full_name}"
print(salutation)

Hello, my name is James Bond

In [34]:
age = 29
full_data =  full_name + " and my age is " + str(age)
print(full_data)

James Bond and my age is 29

In [35]:
full_data = f"{full_name} and my age is {age}"
print(full_data)

James Bond and my age is 29

### Conditionals

In [39]:
is_athlete = True
if is_athlete:
    print(f"{full_name} likes sports")
else:
    print("He does not like sports")

James Bond likes sports

In [42]:
age = 13
if age > 18:
    print("Access to the gym")
elif age > 13:
    print("Access is allowed with tutor")
else:
    print("Access to the gym is not allowed")

Access to the gym is not allowed

### Functions

In [48]:
#Alias that represents a block of code
def check_age():
    if age > 18:
        print("Access to the gym")
    elif age > 13:
        print("Access is allowed with tutor")
    else:
        print("Access to the gym is not allowed")

In [50]:
#Calling the function
#Bad practice, as this function uses the last value of global variable age
check_age()

Access to the gym is not allowed

In [52]:
#Parametrization of age:
def check_age(age):
    if age > 18:
        print("Access to the gym")
    elif age > 13:
        print("Access is allowed with tutor")
    else:
        print("Access to the gym is not allowed")

In [53]:
check_age(15)

Access is allowed with tutor

In [54]:
check_age(11)

Access to the gym is not allowed

In [55]:
 check_age(35)

Access to the gym

In [57]:
#FUnctions can also return results
def get_age():
    return 45

In [58]:
check_age(get_age())

Access to the gym

In [64]:
# null in python is named None
def check_attendance(name, surname):
    #search
    return None

In [65]:
has_attended = check_attendance("James", "Bond")
if has_attended != None:
    print("Free month promo available")
else:
    print("Unknown")

Unknown

In [66]:
#"Tennis","Swimming","Zumba","Judo","Dards"
activities = list()

In [67]:
type(activities)

list

In [68]:
is_empty = len(activities) == 0

In [69]:
print(is_empty)

True

In [70]:
activities.append("Tennis")
activities.append("Swimming")
activities.append("Zumba")
activities.append("Judo")
activities.append("Dards")

In [71]:
is_empty = len(activities) == 0
print(is_empty)

False

In [72]:
len(activities)

5

In [73]:
"Judo" in activities

True

In [74]:
"Basketball" in activities

False

In [75]:
def check_activity(act):
    if act in activities:
        print(f"{act} does belong to the gym")
    else:
        print(f"{act} does not belong to the gym")

In [76]:
check_activity("Judo")

Judo does belong to the gym

In [77]:
def check_activity(act, activities):
    return act in activities

In [80]:
check_activity("Zumba", activities)

True

In [85]:
#TUI
activity = input("What's the activity? ")
check_activity(activity, activities)

What's the activity? Bike

False

In [87]:
check_activity(input("What's the activity? "), activities)

What's the activity? Judo

True

In [88]:
print(full_name)

James Bond

In [89]:
len(full_name)

10

In [90]:
full_name[len(full_name) - 1]

'd'

In [91]:
# index starting by rigth
full_name[-1]

'd'

In [94]:
# get 2 lasts chars -> slicing
full_name[-2:]

'nd'

In [96]:
# get 4 fisrts chars -> slicing
full_name[:4]

'Jame'

In [100]:
name = "James"
name2 = name
name3 = name[:]

In [98]:
id(name)

140372625749424

In [99]:
id(name2)

140372625749424

In [101]:
#Same id because they are strings, and strings are inmutables
id(name3)

140372625749424

In [102]:
activities2 = activities
activities3 = activities[:]

In [103]:
id(activities)

140372624581568

In [104]:
id(activities2)

140372624581568

In [106]:
#Values by reference created with slicing get different ids
id(activities3)

140372501477728

In [107]:
"Judo" in activities

True

In [108]:
"Judo" in activities[:2]

False

In [1]:
#Literal way to create a list
#instead of activities = list()
activities = ["Tennis","Swimming","Zumba","Judo","Dards"]

In [104]:
#removing elements from a list
activities = ["Tennis","Swimming","Zumba","Judo","Dards"]
activities.remove("Tennis")
activities.pop()
print(activities)

['Swimming', 'Zumba', 'Judo']

In [2]:
#Lists can contain any mixed data types
activities.append(45)

In [3]:
print(activities)

['Tennis', 'Swimming', 'Zumba', 'Judo', 'Dards', 45]

In [4]:
type(activities)

list

In [5]:
#Multiline string
data = """
    This is the second
    session of the
    first week
"""

In [7]:
#Help in functions with 3 " or with 3 '
def check_activity(act, activities):
    """Function checking if an activity exists"""
    return act in activities

def check_activity(act, activities):
    '''Function checking if an activity exists'''
    return act in activities

In [8]:
#All answers from input() are strings
answer = input("How old are you? ")

How old are you? 33

In [9]:
type(answer)

str

In [10]:
#answer variable needs to be casted to int
result = 100 - int(answer)
print(result)

67

In [11]:
#Remove last element of activities = ['Tennis', 'Swimming', 'Zumba', 'Judo', 'Dards', 45]
activities = activities[:-1]

In [12]:
print(activities)

['Tennis', 'Swimming', 'Zumba', 'Judo', 'Dards']

In [14]:
#Step 2
activities2 = activities[::2]
print(activities2)

['Tennis', 'Zumba', 'Dards']

In [15]:
#Step -1
activities_rev = activities[::-1]
print(activities_rev)

['Dards', 'Judo', 'Zumba', 'Swimming', 'Tennis']

In [16]:
#Lists are Mutable structures
activities2[0] = "Skate"
print(activities2)

['Skate', 'Zumba', 'Dards']

### Iterative structures (loops)

In [23]:
#Traverse a list
#while the condition is kept as true
print(activities)
i = 0
while i < len(activities):    
    if activities[i] != 'Judo':
        print(activities[i])
    i = i + 1

['Tennis', 'Swimming', 'Zumba', 'Judo', 'Dards']
Tennis
Swimming
Zumba
Dards

In [24]:
i = -1
while i < len(activities) - 1:    
    i = i + 1    
    if activities[i] == 'Judo':        
        continue    
    print(activities[i])

Tennis
Swimming
Zumba
Dards

In [25]:
#while is used to search for an element in the list
#when full traverse is needed, we use for
for act in activities:
    print(act)

Tennis
Swimming
Zumba
Judo
Dards

In [28]:
print(activities)
for act in activities:
    if act == 'Judo': continue
    print(act)

['Tennis', 'Swimming', 'Zumba', 'Judo', 'Dards']
Tennis
Swimming
Zumba
Dards

In [29]:
print(activities)
for act in activities:
    if act == 'Zumba': break
    print(act)

['Tennis', 'Swimming', 'Zumba', 'Judo', 'Dards']
Tennis
Swimming

### Tuples

In [30]:
#tuples -> used to define the status of an object
user1 = (1, 'James', 'Bond', 24, 'M')
for data in user1:
    print(data)

1
James
Bond
24
M

In [32]:
user1[0]

1

In [35]:
# Tuples are INMUTABLES
# 'tuple' object does not support item assignment

user1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [36]:
customer1 = ('James', 'Bond', 24, 'M')
customer2 = ('Mary', 'Joy', 32, 'F')
customer3 = ('Josep', 'Camp', 35, 'M')

In [37]:
#embed tuples inside a list
customers = [customer1, customer2, customer3]

In [38]:
print(customers[0])

('James', 'Bond', 24, 'M')

In [39]:
for cust in customers:
    print(f"{cust[0]} - {cust[-2]}")

James - 24
Mary - 32
Josep - 35

In [40]:
customer4 = ("Martha", "Skies", ["Prize1", "Prize2"])

In [41]:
#Freedom to append any data structure
customers.append(customer4)

In [42]:
for cust in customers:
    print(f"{cust[0]} - {cust[-1]}")

James - M
Mary - F
Josep - M
Martha - ['Prize1', 'Prize2']

In [43]:
customers[-1][-1]

['Prize1', 'Prize2']

In [44]:
type(customer4)

tuple

### Sets : NO REPEATED ELEMENTS, Not ordered

In [54]:
#Sets: do not allow repeated elements, not ordered
conjunt = {1,1,1,1,1,1,2}
len(conjunt)

2

In [50]:
print(conjunt)

{1, 2}

In [52]:
1 in conjunt

True

In [53]:
for item in conjunt:
    print(item)

1
2

In [55]:
conjunt[0]

TypeError: 'set' object is not subscriptable

In [56]:
conjunt2 = set()
conjunt3 = set([1,2,3,4,5,6,7,1])

In [57]:
print(conjunt3)

{1, 2, 3, 4, 5, 6, 7}

In [62]:
len(conjunt)

2

In [60]:
len(conjunt2)

0

In [63]:
len(conjunt3)

7

In [112]:
s = {2,'James', 3, 5}
print(s)
s.remove("James")
s.pop()
print(s)

{3, 2, 'James', 5}
{2, 5}

### Dictionaries (mutables)

In [64]:
# Dictionaries are good for access by K/V

In [65]:
providers = dict()

In [66]:
type(providers)

dict

In [67]:
providers = {'1111111H':('Towels Co.', 10),
              '11122311S': ('Machinery Macs', 4),
             '3445328G': ('Cinemas Verdi', 6)
            }

In [70]:
# dictionaries access by key
providers['11122311S']

('Machinery Macs', 4)

### try except

In [71]:
try:
    data = providers['22125511Y']
    print(data)
except:
    print("Key error access")

Key error access

In [80]:
# finally is optional
# else is optional and only executes when there is no error
# else executes when try runs completely without error
try:
    data = providers['11122311S']
    print(data)
except KeyError:
    print("Key error access")
except ValueError:
    print("Error in value")
except:
    print("General error")
else:
    print("Correct end of process")
finally:
    print("End of process")

('Machinery Macs', 4)
Correct end of process
End of process

In [119]:
def search_provider(key, providers):
    '''Search provider by key in a dictionary of providers'''
    value = None
    if providers is None: 
        print("Bad providers dict")
        return value    
    try:
        value = providers[key]
    except:        
        print('This provider does not exist')
    return value

In [120]:
search_provider('11122311S', providers)

('Machinery Macs', 4)

In [121]:
search_provider('44422391Y', providers)

This provider does not exist

In [129]:
print(search_provider('44422391Y', None))

Bad providers dict
None

In [128]:
#Naming the parameters
print(search_provider('44422391Y', providers = None))

Bad providers dict
None

In [133]:
#Naming the parameters
print(search_provider(providers = providers, key = '11122311S'))

('Machinery Macs', 4)

In [134]:
#Default parameters in functions:
def search_provider2(key, providers = None):
    '''Search provider by key in a dictionary of providers'''
    value = None
    if providers is None: 
        print("Bad providers dict")
        return value    
    try:
        value = providers[key]
    except:        
        print('This provider does not exist')
    return value

In [136]:
search_provider2('11122311S')

Bad providers dict

In [137]:
# * is like varags in Java
# k in providers look for keys in dictionaries
def providers_exist(*keys,providers):
    for k in keys:
        if k in providers:
            print(f"{k} exists")
        else:
            print(f"{k} does not exist")

In [138]:
providers

{'1111111H': ('Towels Co.', 10),
 '11122311S': ('Machinery Macs', 4),
 '3445328G': ('Cinemas Verdi', 6)}

In [140]:
providers_exist('1111111H','11122311S','52626231Y', providers = providers)

1111111H exists
11122311S exists
52626231Y does not exist

In [142]:
providers_exist('1111111H', providers = providers)

1111111H exists

In [145]:
#csv
#1111111H,Towels Co.
#11122311S,Machinery Macs
#3445328G,Cinemas Verdi
keys_list = ['1111111H', '11122311S']
keys_list.append('3445328G')
providers_exist(*keys_list, providers = providers)
#* is needed to pass when passing lists <---------

1111111H exists
11122311S exists
3445328G exists

### Destructuring (unpackaging)

In [147]:
keys_list

['1111111H', '11122311S', '3445328G']

In [148]:
key1, key2, key3 = keys_list
print(key1)

1111111H

In [153]:
id1, _, _ = keys_list

In [154]:
print(_)

3445328G

In [155]:
def providers_exist(*keys,providers):
    exist = []
    for k in keys:
        if k in providers:
            exist.append(True)
        else:
            exist.append(False)
    return exist

In [157]:
providers_exist('1111111H','6543218P', providers = providers)

[True, False]

In [160]:
def pay():
    print("Paying the provider...")

#If all are True <-- all
#If any is True <-- any
def provider_payment(provider_id, amount_to_pay, providers):
    '''Monthly payment to providers'''
    if all(providers_exist(provider_id, providers = providers)):
        pay()

In [161]:
provider_payment('1111111H', 450.0, providers)

Paying the provider...

In [164]:
def pay():
    print("Paying the providers...")
#With varargs:
def provider_payment(*provider_id, amount_to_pay, providers):
    '''Monthly payment to providers'''
    if all(providers_exist(*provider_id, providers = providers)):
        pay()

In [163]:
provider_payment('1111111H','6543218P' , amount_to_pay = 450.0, providers = providers)

In [166]:
#All provider ids are valid
provider_payment('1111111H','11122311S' , amount_to_pay = 450.0, providers = providers)

Paying the providers...

In [173]:
#throwing exceptions with raise
def pay():
    print("Paying the providers...")
#With varargs:
def provider_payment(*provider_id, amount_to_pay, providers):
    '''Monthly payment to providers'''
    #set_without_duplicates = set(provider_id)
    if all(providers_exist(*provider_id, providers = providers)):
        pay()
    else:
        raise Exception("Provider not valid")

In [175]:
try:
    provider_payment('1111111H','6543218P' , amount_to_pay = 450.0, providers = providers)
except Exception as e:
    print(e)
except:
    print("General error")

Provider not valid